.navbar{
    
    
    font-size: 15px;
    padding-top: 20px;
   padding-left: 130px;
    font-weight: 500px;
    font: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;



}
.logo{
    padding-bottom: 15px;
    padding-right: 10px;
}
.text{
    color: rgb(248, 88, 240);
}
.text2{
    
}